.jumbotron{
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: rgba(252, 17, 17, 0.884);
    background-color: rgb(0, 0, 0);

}

h1{
    text-decoration: overline;

}
 h2{
     text-decoration: underline;
 }

 body{
     background-image: url(https://i.stack.imgur.com/Mv83H.png);
     color: rgba(252, 17, 17, 0.884);
     font-family: 'Merienda One', cursive;
   
 }

 p{
     font-size: 20px;
     text-align: center;
 }

 .score{
     font-size: 30px;
 }

 img{
     float: right;
     clear: both;
 }
